:root {
    --space-black: #151515;
    --blackboard-black: #414141;
    --concrete-white: #dfdfdf;
    --arctic-white: #f7f7f7;

    --foreground-color: var(--space-black);
    --background-color: var(--concrete-white);
    --element-background: var(--arctic-white);
    --background-color-complementary: var(--foreground-color);
    --foreground-color-complementary: var(--background-color);
}

* {
    box-sizing: border-box;
    color: var(--foreground-color);
    background: var(--background-color);
    font-family: "Open Sans", sans-serif;
}

body {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto 8fr auto;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    align-self: start;
    height: border-box;
}

article {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

article, article * {
    background: var(--element-background);
}

aside {
    grid-column: 3;
    grid-row: 2;
}

header, footer {
    display: inline-flex;
    height: min-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: var(--background-color-complementary);
    color: var(--foreground-color-complementary);
}

header * {
    height: 100%;
    text-align: center;
    background-color: var(--background-color-complementary);
    color: var(--foreground-color-complementary);
}

#header-title {
    margin-right: auto;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

.material-icons-outlined {
    font-family: 'Material Icons', sans-serif;
}

ul, .none {
    list-style: none;
}

li, .horizontal {
    display: inline;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-color: var(--space-black);
        --background-color: var(--concrete-white);
        --element-background: var(--arctic-white);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: var(--arctic-white);
        --background-color: var(--space-black);
        --element-background: var(--blackboard-black);
    }
}

@media (orientation: portrait) {
    aside {
        visibility: collapse;
    }
}